body {
    background-color: rgb(19, 18, 18);
    display: flex;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

.text {
    animation-name: test-animation;
    animation-duration: 30s;
    animation-iteration-count: infinite; /* Сделать анимацию бесконечной */
    color: yellow;
    opacity: 0;
    font-style: italic;
    transform: translateZ(-1000px);
    transform: translate3d(20px, 15px, 100px);
    transform: scale3d(1, 1, 2) rotateX(50deg);
}

.text h1 {
    font-size: 5rem;
}

.text h2 {
    font-size: 2.5rem;
    margin-top: 1rem;
}

.text p {
    font-size: 3.5rem;
    margin-top: 1rem;
}

@keyframes test-animation {
    0% {
        margin-top: 100vh;
        opacity: 1;
    }
    100% {
        opacity: 1;
        margin-top: -2000px;
    }
}